/* App.css veya başka bir CSS dosyası */

/* Genel Uygulama Stillemesi */
body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  
  /* Ant Design bileşenleri için genel stillemesi */

  
  .ant-space-vertical {
    margin-bottom: 15px;
  }
  
  /* Özel Bileşenler için Stillemesi */
  .BolumCheckBox,
  .DonemCheckBox,
  .HastaneCheckBox {
    margin-bottom: 10px;
  }
  
  .PointInput {
    margin-bottom: 20px;
  }
 /* customTableStyle.css */

.ant-table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  margin-top: 20px;
}

.ant-table-thead > tr > th {
  background-color: #4a90e2;
  color: white;
  border-radius: 5px 5px 0 0;
}

.ant-table-tbody > tr > td {
  background-color: #f4f4f4;
  border-radius: 5px;
}
